
div.main-header {
   grid-area: header;
   text-align: left;
   
   min-height: 70px;
   
   border: solid;
   border-width: 1px;
}

div.main-menu { 
   grid-area: menu;

   min-width: 100px;
   min-height: 300px;

   border: solid;
   border-width: 1px;
}

.main-menu-link {
   display: block;
   background-color: inherit;
   color: black;
   width: calc(100% - 4px);
   text-align: left;
   padding: 10px 10px;
   margin: 2px;
   cursor: pointer;
}

.centered {
   text-align: center;
}

div.main-display { 
   grid-area: display; 
   display: grid;
   grid-template-rows: 10% 90%;
   grid-template-columns: 20% 80%;
   grid-template-areas:
      "display-menu display-tabs"
      "display-menu display-content";
   
   min-width: 400px;
   min-height: 300px;

   border: solid;
   border-width: 1px;
}

div.display-tabs {
   grid-area: display-tabs;
   text-align: left;

   border: solid;
   border-width: 1px;
}

.display-tab-link {
   display: inline-block;

   padding: 10px;
   height: 100%;
}

div.display-menu {
   grid-area: display-menu;

   border: solid;
   border-width: 1px;
}

.display-menu-link {
   display: block;

   padding: 10px 10px;
   margin: 2px;
   width: calc(100% - 4px);
}

div.display-content {
   grid-area: display-content;

   border: solid;
   border-width: 1px;
}

.product {
   text-align: left;
   padding: 5px;
}

div.main-footer { 
   grid-area: footer; 
   text-align: left;
   min-height: 130px;
   
   border: solid;
   border-width: 1px;
}

.main {
   display: grid;
   grid-template-rows: 10% 70% 20%;
   grid-template-columns: 20% 80%;
   grid-template-areas:
      "header header"
      "menu display"
      "footer footer";
   
   background-color: #2196F3;

   min-width: 500px;
   min-height: 500px;

   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

.main > div {
   background-color: rgba(255, 255, 255, 0.8);
   text-align: center;
}